.linkitems {
  display: flex;
  align-items: center;
  gap: 48px;
}
.link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #a8aebf;
}
